header{background-color: blue; color: white;}

.container{
    background-color: lightgray; color: black}
   p{color: red;}
   .highlight{color: green}
  
.main-content{background-color: yellow;}

.center{text-align: center;}

.no-underline{text-decoration: none;}

h1, h2, h3, h4, h5 ,h6{text-decoration: underline; text-decoration-style: dashed;}

.bold-text{font-weight: bold;}

.intro{font-weight: 300;}

p{font-family: Arial, sans-serif;}

.custom-font{font-family: 'Times New Roman';}